* {
    margin: 0;
    padding: 0;
}

.links {
    margin: 0 auto;
    width: 50%;
    max-width: 600px;
    align-items: right;
    text-align: right;
}

.links li {
    list-style-type: none;
}

.links a {
    text-align: right;
    float: buttom;
    font-size: 10px;
}

.main {
    margin: 0 auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.main h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 15px;
}

.main .choices {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .choices button{
    margin: 20px;
    padding: 20px;
}

.main .choices button img:hover {
    cursor: pointer;
}

.main .results-display {
    padding: 20px;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
